apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-service
  labels:
    app.kubernetes.io/name: app-task
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: app-task
  template:
    metadata:
      labels:
        app.kubernetes.io/name: app-task
    spec:
      containers:
        - name: task-sservice
          image: nguyenanhtuan19122002/task-service
          ports:
            - containerPort: 3000
