apiVersion: apps/v1
kind: Deployment
metadata:
    name: app-web
    labels:
      app.kubernetes.io/name: app-web
spec:
    replicas: 1
    selector:
        matchLabels:
            app.kubernetes.io/name: app-web
    template:
        metadata:
            labels:
              app.kubernetes.io/name: app-web
        spec:
          containers:
            - name: user-web
              image: nguyenanhtuan19122002/user-web
              ports: 
              - containerPort: 80